__pycache__
*nogit*
.venv/
.vscode
.DS_Store
.*.swp
.*.swo
*.pyc
*.so
*.o
/dist
*.egg-info
/env
.idea
.ipynb*
riscv-opcodes
tests/riscof_work
tests/riscv-arch-test
tests/riscv-tests
tests/coremark
tests/buildroot
tests/tinyrv-test-blobs
tests/buildroot
tests/mini32*
tests/mini64*